.myVehiclesPanel {
    height: 100%;
    margin: 0px;
    background-color: #333;
    color: #fff !important;
}

.myVehiclesPanel>.panel-heading {
    font-weight: bold;
}

.myVehiclesPanel .panel {
    height: 100%;
    margin: 0px;
    background-color: #333;
    color: #fff !important;
}

.myVehiclesPanel .vehiclesTablePanel .panel-body {
    padding: 0px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: none;   
}

.myVehiclesPanel .vehiclesTablePanel .panel-body table {
    margin: 0px;
}

.myVehiclesPanel .vehiclesTablePanel .panel-body table td {
    vertical-align: middle;
}

.myVehiclesPanel .vehiclesTablePanel .panel-body table td ul {
    margin-bottom: 0px;
}

.myVehiclesPanel .vehicleRegistrationPanel .panel-heading {
    background-color: #424245 !important;
    color: #fff !important;
}

.myVehiclesPanel .vehicleRegistrationPanel .btn {
    color: #000;
    font-weight: bold;
}

.myVehiclesPanel .vehicleRegistrationPanel .vehicleOptions {
    margin-right: 15px;
}

.myVehiclesPanel span.glyphicon-trash {
    color: red;
    cursor: pointer;
}