<div class="panel panel-default myVehiclesPanel">
    <div class="panel-heading">My Vehicles</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" *ngIf="isVehicleDeletedDone">
                    <div class="alert alert-success">
                        <strong>Your have successfully deleted your vehicle.</strong>
                    </div>
                </div>
                <div class="form-group" *ngIf="myVehicles.length === 0">
                    <div class="alert alert-danger">
                        <strong>You have not registered any vehicles yet. Please register one.</strong>
                    </div>
                </div>
                <table class="table table-bordered" *ngIf="myVehicles.length !== 0">
                    <thead>
                        <tr>
                            <th class="text-center">Number</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Facilities</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vehicle of myVehicles">
                            <td align="center">{{vehicle.number}}</td>
                            <td align="center">{{vehicle.type}}</td>
                            <td align="center">{{vehicle.facilities.join(', ')}}</td>
                            <td align="center">
                                <ul class="list-inline">
                                    <li><a (click)="deleteVehicle(vehicle.id)" title="Delete Vehicle" tooltip><span class="glyphicon glyphicon-remove"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div class="col-md-6">
                <div class="panel panel-default vehicleRegistrationPanel">
                    <div class="panel-heading">New Vehicle Registration</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 form-box">
                                <div class="form-top">
                                    <div class="form-top-right">
                                        <i class="fa fa-key"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <div class="form-group" *ngIf="isVehicleRegistrationDone">
                                        <div class="alert alert-success">
                                            <strong>Your have successfully registered your vehicle.</strong>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="doesVehicleExist">
                                        <div class="alert alert-danger">
                                            <strong>This vehicle already registered in your name.</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newVehicleNumberId">Registration Number:</label>
                                        <input type="text" name="form-number" class="form-control" id="newVehicleNumberId" [(ngModel)]="newVehicle.number">
                                    </div>
                                    <div class="form-group">
                                        <label class="vehicleOptions" for="newVehicleTypeId">Vehicle Type:</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="form-type" value="4-wheeler" (click)="newVehicle.type='4-wheeler'" checked>4-Wheeler
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="form-type" value="2-wheeler" (click)="newVehicle.type='2-wheeler'">2-Wheeler
                                        </label>
                                    </div>
                                    <div class="form-group" *ngIf="newVehicle.type === '4-wheeler'">
                                        <label class="vehicleOptions" for="newVehicleFacilitiesId">Facilities:</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" #acChkbox name="form-facilities" value="" (change)="setFacilities(acChkbox.checked, 'AC')">AC
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" #musicChkbox name="form-facilities" value="" (change)="setFacilities(musicChkbox.checked, 'Music')">Music
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" #airbagsChkbox name="form-facilities" value="" (change)="setFacilities(airbagsChkbox.checked, 'Air-bags')">Air-bags
                                        </label>
                                    </div>
                                    <div class="form-group" *ngIf="newVehicle.type === '2-wheeler'">
                                        <label class="vehicleOptions" for="newVehicleFacilitiesId">Facilities:</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" #cabinetChkbox name="form-facilities" value="" (change)="setFacilities(cabinetChkbox.checked, 'Cabinet')">Cabinet
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" #helmetChkbox name="form-facilities" value="" (change)="setFacilities(helmetChkbox.checked, 'Helmet')">Helmet
                                        </label>
                                    </div>
                                    <button type="button" class="btn" (click)="registerVehicle()" [disabled]="newVehicle.number === '' || newVehicle.type === ''">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>