.createTripPanel {
    height: 100%;
    margin: 0px;
    background-color: #333;
    color: #fff !important;
}

.createTripPanel>.panel-heading {
    font-weight: bold;
}

.createTripPanel .panel-body,
.createTripPanel .panel-body .row,
.createTripPanel .panel-body .row .mapColumn {
    height: 100%;
}

.createTripPanel .panel-body .row .mapColumn {
    position: relative;
}

#mapDivId {
    position: absolute !important;
    top: 7px;
    bottom: 42px;
    left: 15px;
    right: 15px;
    border-radius: 4px;
}

.createTripPanel .panel-body .row .createTripForm {
    height: 90%;
    overflow: auto;
}