.profilePanel {
    height: 100%;
    margin: 0px;
    background-color: #333;
    color: #fff !important;
}

.profilePanel>.panel-heading {
    font-weight: bold;
}

.profilePanel .panel {
    height: 100%;
    background-color: #333;
    color: #fff !important;
}